<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>
</head>
<body>
    <h1>Task Manager</h1>
    <form method="post">
        <label for="">Task :</label>
        <input type="text" name="newTask" id="">
        <input type="submit" value="Save">
    </form>
</body>
</html>
